<!-- news消息 -->
<div class="news-title">
    <h5>京东快报</h5>
    <span class="news-more"><a href="#" target="_blank">更多</a><i>&gt</i></span>
</div>
<div class="news-content">
    <p>
        <label for="news1">HOT</label>
        <a href="#" id="news1">彼方尚有荣光</a>
    </p>
    <p>
        <label for="news2">热门</label>
        <a href="#" id="news2">爱意随风起，风止意难平</a>
    </p>
    <p>
        <label for="news3">热门</label>
        <a href="#" id="news3">生如芥子，心藏须弥</a>
    </p>
    <p>
        <label for="news4">推荐</label>
        <a href="#" id="news4">白茶清欢无别事，我在等风也等你</a>
    </p>



</div>