<!-- 秒杀倒计时 -->
<div class="end-time">
    <div class="seckill-title">京东秒杀</div>
    <!-- 开始的时间 -->
    <div class="seckill-start-time">
        <span class="details-start-time">14:00</span>
        <span class="details-text">点场 据结束</span>
    </div>
    <!-- 倒计时 -->
    <div class="seckill-last-time">
        <span class="hour">01</span>
        <span class="minute">12</span>
        <span class="second">15</span>
    </div>

</div>

<!-- 左右两个轮播图 -->
<div class="seckill-first-swiper">
    <ul class="seckill-first-swiper-left">
        <li class="seckill-swiper-left-content">
            <img src="../images/2-1.jpg" alt="">
            <span>鞠婧祎yyds</span>
            <div class="seckill-wriper-price">
                <span class="new-price">￥9999.00</span>
                <span class="old-price">￥99995</span>
            </div>
        </li>
        <li class="seckill-swiper-left-content">
            <img src="../images/2-2.jpeg" alt="">
            <span>鞠婧祎yyds</span>
            <div class="seckill-wriper-price">
                <span class="new-price">￥9999.00</span>
                <span class="old-price">￥99995</span>
            </div>
        </li>
        <li class="seckill-swiper-left-content">
            <img src="../images/2-3.jpeg" alt="">
            <span>鞠婧祎yyds</span>
            <div class="seckill-wriper-price">
                <span class="new-price">￥9999.00</span>
                <span class="old-price">￥99995</span>
            </div>
        </li>
        <li class="seckill-swiper-left-content">
            <img src="../images/2-4.jpeg" alt="">
            <span>鞠婧祎yyds</span>
            <div class="seckill-wriper-price">
                <span class="new-price">￥9999.00</span>
                <span class="old-price">￥99995</span>
            </div>
        </li>
    </ul>
    <ul class="seckill-first-swiper-left">
        <li class="seckill-swiper-left-content">
            <img src="../images/2-5.jpeg" alt="">
            <span>鞠婧祎yyds</span>
            <div class="seckill-wriper-price">
                <span class="new-price">￥9999.00</span>
                <span class="old-price">￥99995</span>
            </div>
        </li>
        <li class="seckill-swiper-left-content">
            <img src="../images/2-6.jpg" alt="">
            <span>鞠婧祎yyds</span>
            <div class="seckill-wriper-price">
                <span class="new-price">￥9999.00</span>
                <span class="old-price">￥99995</span>
            </div>
        </li>
        <li class="seckill-swiper-left-content">
            <img src="../images/2-7.jpg" alt="">
            <span>鞠婧祎yyds</span>
            <div class="seckill-wriper-price">
                <span class="new-price">￥9999.00</span>
                <span class="old-price">￥99995</span>
            </div>
        </li>
        <li class="seckill-swiper-left-content">
            <img src="../images/2-8.jpg" alt="">
            <span>鞠婧祎yyds</span>
            <div class="seckill-wriper-price">
                <span class="new-price">￥9999.00</span>
                <span class="old-price">￥99995</span>
            </div>
        </li>
    </ul>
    <ul class="seckill-first-swiper-left">
        <li class="seckill-swiper-left-content">
            <img src="../images/2-9.jpg" alt="">
            <span>鞠婧祎yyds</span>
            <div class="seckill-wriper-price">
                <span class="new-price">￥9999.00</span>
                <span class="old-price">￥99995</span>
            </div>
        </li>
        <li class="seckill-swiper-left-content">
            <img src="../images/2-10.jpg" alt="">
            <span>鞠婧祎yyds</span>
            <div class="seckill-wriper-price">
                <span class="new-price">￥9999.00</span>
                <span class="old-price">￥99995</span>
            </div>
        </li>
        <li class="seckill-swiper-left-content">
            <img src="../images/2-11.jpg" alt="">
            <span>鞠婧祎yyds</span>
            <div class="seckill-wriper-price">
                <span class="new-price">￥9999.00</span>
                <span class="old-price">￥99995</span>
            </div>
        </li>
        <li class="seckill-swiper-left-content">
            <img src="../images/2-12.jpg" alt="">
            <span>鞠婧祎yyds</span>
            <div class="seckill-wriper-price">
                <span class="new-price">￥9999.00</span>
                <span class="old-price">￥99995</span>
            </div>
        </li>
    </ul>
    <ul class="seckill-first-swiper-left">
        <li class="seckill-swiper-left-content">
            <img src="../images/2-13.jpg" alt="">
            <span>鞠婧祎yyds</span>
            <div class="seckill-wriper-price">
                <span class="new-price">￥9999.00</span>
                <span class="old-price">￥99995</span>
            </div>
        </li>
        <li class="seckill-swiper-left-content">
            <img src="../images/2-14.jpg" alt="">
            <span>鞠婧祎yyds</span>
            <div class="seckill-wriper-price">
                <span class="new-price">￥9999.00</span>
                <span class="old-price">￥99995</span>
            </div>
        </li>
        <li class="seckill-swiper-left-content">
            <img src="../images/2-15.jpg" alt="">
            <span>鞠婧祎yyds</span>
            <div class="seckill-wriper-price">
                <span class="new-price">￥9999.00</span>
                <span class="old-price">￥99995</span>
            </div>
        </li>
        <li class="seckill-swiper-left-content">
            <img src="../images/2-16.jpg" alt="">
            <span>鞠婧祎yyds</span>
            <div class="seckill-wriper-price">
                <span class="new-price">￥9999.00</span>
                <span class="old-price">￥99995</span>
            </div>
        </li>
    </ul>
</div>

<!-- 第二个图 -->
<div class="seckill-second-swiper">
    <img src="../images/2-17.jpg" alt="">
    <h5>三千年美女</h5>
    <p>是朕的内人</p>
    <span>直接拿捏 &gt</span>
</div>

<script>
    // 倒计时
    var startTime = new Date().getTime() + parseInt(Math.random() * 43200000);
    // 随机生成倒计时
    $('.details-start-time').html(new Date(startTime).getHours() + ':00')

    var clearKillTimer = setInterval(function() {
        // 剩余时间
        var disTime = startTime - new Date().getTime();
        // console.log(disTime);
        if (disTime < 0) {
            // 到时间了
            clearInterval(clearKillTimer);
        } else {
            var hour = parseInt(disTime / 1000 / 60 / 60);
            var minute = parseInt(disTime / 1000 / 60 % 60);
            var second = parseInt(disTime / 1000 % 60);
            // console.log(hour, minute, second);
            hour < 10 ? $('.hour').html('0' + hour) : $('.hour').html(hour)
            minute < 10 ? $('.minute').html('0' + minute) : $('.minute').html(minute)
            second < 10 ? $('.second').html('0' + second) : $('.second').html(second)
        }
    }, 1000)

    // 轮播图
    $('.seckill-first-swiper').swiper({
        // 轮播的内容列表
        contentList: $('.seckill-first-swiper ul'),
        // 自动轮播的间隔时间
        autoChangeTime: 5000,
        // 轮播的动画类型：fade 淡入淡出 animate 从左到右
        type: 'fade',
        // 是否自动轮播
        isAuto: true,
        // 左右按钮的显示状态，共有 3 种 
        // 1. always 代表一支显示   2. hide 代表隐藏    3. hover 移入显示
        showChangeBtn: 'always',
        // 是否显示小圆点
        showSpots: false,
        // 小圆点的大小
        spotSize: 10,
        // 小圆点的位置，可选值有 3 个 
        // 1. left 2. center 3. right
        spotPosition: 'right',
        // 小圆点的背景颜色
        spotColor: 'pink',
        // 当前图片的小圆点的颜色
        curSptColor: 'green',
        // 轮播图内容的大小
        width: 800,
        height: 260
    })
</script>