* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

@keyframes space-change {
    from {
        opacity: 0.3;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.1;
    }
    to {
        opacity: 0.3;
    }
}

@keyframes sun-change {
    from {
        opacity: 0;
        box-shadow: 0 0 100px 50px #fff, 0 0 250px 125px #D55D20;
        top: calc(50% + 200px);
        left: calc(50% - 25px);
        background-color: #E37425;
    }
    10% {
        box-shadow: 0 0 100px 50px #fff, 0 0 250px 125px #ff0;
        background-color: #fff;
        transform: scale(0.7, 0.7);
        opacity: 1;
    }
    25% {
        box-shadow: 0 0 100px 50px #fff, 0 0 250px 125px #ff0;
        background-color: #fff;
        opacity: 1;
        left: calc(50% - 25px);
        top: 50px;
    }
    /* 45% {
        opacity: 0;
        top: calc(50% + 200px);
        left: calc(50% - 25px);
        transform: scale(0.7, 0.7);
    } */
    50% {
        box-shadow: 0 0 100px 50px #fff, 0 0 250px 125px #ff0;
        opacity: 0;
        top: calc(50% + 200px);
        left: calc(50% - 25px);
        transform: scale(0.7, 0.7);
        /* background-color: red; */
    }
    75% {
        opacity: 0;
        background-color: #FD5831;
        box-shadow: 0 0 100px 50px #fff, 0 0 10px 305px rgb(218, 62, 24);
    }
    100% {
        opacity: 0;
        top: calc(50% + 200px);
        left: calc(50% + 125px);
    }
}

@keyframes moon-change {
    from {
        opacity: 0;
    }
    30% {
        top: 400px;
        left: calc(50% - 25px);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 1;
        top: 50px;
        left: calc(50% - 25px);
    }
    80% {
        top: 50px;
        left: calc(50% - 25px);
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        top: 600px;
        left: calc(60% - 50px);
    }
}

.space {
    position: absolute;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(0, 130, 255, 1), rgba(255, 255, 255, 1));
    animation: space-change 30s infinite;
}

.sun {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    top: calc(50% + 200px);
    left: calc(50% - 25px);
    transform: scale(0.5, 0.5);
    box-shadow: 0 0 100px 50px #fff, 0 0 250px 125px #ff0;
    animation: sun-change 30s infinite;
}

.moon {
    height: 100px;
    width: 100px;
    position: absolute;
    top: calc(70% - 50px);
    left: calc(60% - 50px);
    background-color: #fff;
    border-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 0px 10px #fff, inset 0px 0px 10px #000;
    animation: moon-change 30s infinite;
}

.moon::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: #000;
    position: absolute;
    border-radius: 50%;
    top: -6px;
    left: -30px;
}