* {
    margin: 0;
    padding: 0;
}

@keyframes run {
    0% {
        left: 0px;
    }
    /* 8.3% {
        left: -200px;
    }
    16.6% {
        left: -400px;
    }
    24.9% {
        left: -600px;
    }
    33.2% {
        left: -800px;
    }
    41.5% {
        left: -1000px;
    }
    49.8% {
        left: -1200px;
    }
    58.1% {
        left: -1400px;
    }
    66.4% {
        left: -1600px;
    }
    74.7% {
        left: -1800px;
    }
    83% {
        left: -2000px;
    }
    91.3% {
        left: -2200px
    } */
    100% {
        left: -2400px;
    }
}

body {
    background-image: url(./bg1.jpg);
    background-size: cover;
}

div img {
    position: absolute;
    top: 0px;
    left: 0px;
    animation: run 1s steps(12, end) infinite;
    /* overflow: hidden; */
}

div {
    width: 200px;
    height: 120px;
    position: absolute;
    top: 300px;
    left: 700px;
    /* background-color: #0ff; */
    overflow: hidden;
}

.foot {
    width: 100%;
    height: calc(100% - 420px);
    position: fixed;
    top: 420px;
}