* {
    margin: 0;
    padding: 0;
}

li,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
button {
    border: none;
    background: none;
    outline: none;
}

html,
body {
    font-size: 14px;
    color: #333;
    font-family: 'YouYuan';
}


/* 头部样式 */

.wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.wrapper .header {
    width: 100vw;
    height: 4.5rem;
    background: linear-gradient( to right, #333, #111, #aaa);
    position: fixed;
    top: 0;
    padding-left: 3rem;
    box-sizing: border-box;
}

.wrapper .header:after {
    content: "";
    width: 100vw;
    display: block;
    background-image: url(../images/bg.png);
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.header .logo {
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    /* display: none; */
}

.header .logo img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.logo span {
    font-size: 1.7rem;
    margin-left: 1rem;
    font-weight: bolder;
    text-shadow: 2px 4px 4px #ccc;
    animation: jumping .9s infinite alternate;
}

.logo span:nth-of-type(1) {
    animation-delay: 0s;
}

.logo span:nth-of-type(2) {
    animation-delay: 0.3s;
}

.logo span:nth-of-type(3) {
    animation-delay: 0.6s;
}

.logo span:nth-of-type(4) {
    animation-delay: .9s;
}

@keyframes jumping {
    0% {
        transform: translateY(10px);
        text-shadow: 2px 4px 4px #ccc;
    }
    100% {
        transform: translateY(-18px);
        text-shadow: 2px 4px 4px #ccc;
    }
}


/* 隐藏的按钮部分 */

.header .btn {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    z-index: 666;
    margin-right: 15px;
    display: none;
}

.header .btn span {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
}

@media (max-width: 768px) {
    .header .btn {
        display: block;
    }
    .header .logo {
        transform: translateX(100px);
    }
    .main .left-menu {
        display: none;
    }
}

.header .hidden-list {
    position: absolute;
    left: 0;
    width: 100vw;
    padding: 30px;
    cursor: pointer;
    background-image: linear-gradient(#333, #222, #111);
    box-sizing: border-box;
    display: none;
}

.header .hidden-list ul li {
    text-align: center;
    color: #ccc;
    line-height: 40px;
    font-size: 1.1rem;
    user-select: none;
}

.header .hidden-list ul li:hover {
    color: #fff;
}


/* 左侧导航 */

.main .left-menu {
    position: fixed;
    width: 200px;
    min-height: calc(100vh - 4.5rem);
    background: #ddd;
    top: 4.5rem;
    left: 0;
    padding-top: 2rem;
    padding-left: 2rem;
    box-sizing: border-box;
    background: linear-gradient(#333, #222, #111);
}

.main .left-menu:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../images/bg.png) repeat center center;
    opacity: .4;
    z-index: -1;
}

.main .left-menu h5 {
    color: #fff;
    font-size: 1.1rem;
}

.main .left-menu .list {
    width: 100%;
    font-weight: bolder;
}

.left-menu .list {
    margin-top: 2rem;
    text-align: center;
}

.left-menu .list li {
    width: 100%;
    display: inline-block;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #ccc;
    line-height: 40px;
    font-size: 1rem;
    cursor: pointer;
}

.left-menu .list li.active {
    /* color: #fff; */
    background-color: rgba(255, 255, 255, .3);
}

.left-menu .list li.active,
.left-menu .list li:hover {
    transition: all .5s linear;
    color: rgba(255, 255, 255);
}