/* p {
    border-width: 5px;
    border-style: dashed;
    border-color: black;
    border-top-width: 10px;
    border-top-color: green;
    border-top-style: dotted;
} */


/* p {
    border: 5px solid green;
}

#first {
    border-radius: 20px / 15px;
}

#second {
    border-radius: 50% 20px 25% 5em / 25% 15px 40px 55%;
} */


/* 
p {
    -webkit-border-image: url(2.jpg) 33.3% / 100px round round;
    /* -moz-border-image: url(2.jpg) 33.3% / 100px;
    -o-border-image: url(2.jpg) 33.3% / 100px; 
} */


/* 
p {
    color: green;
    border: medium solid black;
    background-color: lightgray;
    background-image: url(4.png);
    background-size: 60px 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local
} */


/* 
textarea {
    color: green;
    border: medium solid black;
    background-color: lightgray;
    background-image: url(4.png);
    background-size: contain;
    background-repeat: repeat-x;
    background-attachment: scroll;
}
*/


/* 
p {
    border: 10px double black;
    background-color: lightgray;
    background-image: url(4.png);
    background-size: 60px 150px;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-clip: content-box;
     background-position: 10px 100px; 
}
*/

p {
    border: 1opx double black;
    box-shadow: 5px 4px 10px 2px gray, 5px 4px 10px 2px gray inset;
}