* {
    margin: 10px;
    border: 10px solid;
    border-color: green;
    padding: 10px;
}

a {
    border: thin green solid;
    padding: 4px;
    text-decoration: none;
    color: black;
}

.class1 {
    border: thin blue solid;
    padding: 4px;
    text-decoration: none;
    color: gray;
}

#ID1 {
    text-decoration: none;
    color: green;
    padding: 6px;
}

[href] {
    color: red;
}

p span {
    color: blue;
    border: 1px red solid;
}

p+a {
    color: red;
}

p::first-line {
    color: blue;
    font-size: larger;
}

p::first-letter {
    background-color: black;
    color: white;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div:before {
    content: "HSZ";
}

div:after {
    content: " Forever!";
}

body {
    counter-reset: paracount;
}

p:before {
    content: counter(paracount)". ";
    counter-increment: paracount;
}