:root {
    border: thin green solid;
    padding: 4px;
    /* margin: 10px; */
    margin: 0px;
}

p span:first-child {
    color: red;
}

:nth-child(2) {
    color: green;
}

hr {
    border: 10px red solid;
}

:enabled {
    border-color: red;
}

:disabled {
    border-color: blue
}

#span1 {
    color: white;
}

:checked+span {
    background: green;
    color: red !important;
    font-size: larger;
    padding: 6px;
}

:default {
    background: black;
    color: white;
}

:in-range {
    color: white;
    background-color: black;
}

:out-of-range {
    color: red;
    background-color: green;
}

:link {
    background-color: lightgrey;
    border: thin balck solid;
    color: red;
}

:visited {
    background-color: grey;
    color: white;
}

p:hover {
    color: red;
    background: green;
    padding: 20px;
    border: 2px black solid;
}

p:active {
    border: 2px green solid;
    background-color: black;
    color: white;
    padding: 5px;
}

:focus {
    border: thin black solid;
    padding: 5px;
    background-color: black;
    color: white;
}

:target {
    border: thin black solid;
    padding: 4px;
    color: red;
}