* {
    margin: 0;
    padding: 0;
}

@keyframes run {
    0% {
        left: 0px;
    }
    25% {
        left: 100px;
    }
    50% {
        left: 200px;
    }
    75% {
        left: 300px;
    }
    100% {
        left: 400px;
    }
}

div {
    width: 100px;
    height: 100px;
    position: absolute;
}

div:first-of-type {
    top: 0px;
    left: 0px;
    background-color: #f00;
    animation: run 4s steps(1, start);
}

div:nth-of-type(2) {
    top: 100px;
    left: 0px;
    background-color: #0ff;
    animation: run 4s steps(1, end) forwards;
}